# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Airflow
logs/
*.db
*.pid

# Data & Checkpoints (Don't upload raw data or large files)
data/
_checkpoints/
.ipynb_checkpoints/

# Environments & Secrets
.env
.idea/
.vscode/